{% extends 'base.html' %}
{% block title%}
Adicionar Nota
{% endblock %}
{% block content %}
<!-- criar info -->
    <h1>Criar Nota</h1>
      <div class="one-half">

        <form id="form" method="post" action="{% url 'adiciona' %}" style="margin-left: auto; margin-right: auto;" enctype="multipart/form-data">
          {% csrf_token %}
          <input id="titulo" type="text" placeholder="TÍTULO" name="titulo">
          <textarea id="descricao" placeholder="DESCRIÇÃO" name="descricao"></textarea>
          <input id="submit" type="submit" value="Criar">
        </form>

      </div>
      <div class="one-half">
        <p>Se você compartilha nossa ideologia e deseja se juntar ao DARK SIDE, não hesite em criar uma nota pra gente!
          <br>
          <br>
          <em>"Você se tornou poderoso, sinto o lado negro em você."</em>
          <br> - Yoda
          <br>
          <br> PS: Luke, se você está lendo isso, por favor me escreva.
          <br> - <a class="hover-a" href="https://s-media-cache-ak0.pinimg.com/originals/4a/78/8c/4a788c6b19a6451f47d1c75acd8b97e5.jpg" target="_blank">Darth</a>
  </div>
{% endblock %}