{% extends 'base.html' %}
{% block title%}
Home
{% endblock %}
{% block content %}
<!---Inicio com paralax-->
    <h1>Bem vindo ao sistema de Anotações</h1>
  <div class="one-half">
      <h3>O QUE O SISTEMA FAZ?</h3>
      <p>Se você gosta do <span id="dark-side">DARK SIDE</a></span> poderá utilizar o sistema para: criar, listar, editar e excluir <span><a class="hover-a" >MENSAGENS OBSCURAS</a>.</span>
      </p>
  </div>
<!--  O que faz-->
  <div class="one-half">
    <h3>MISSÃO</h3>
    <p>&rarr; Construir o sistema utilizando o tutorial Django VSCode como um código base como exemplo. Foi nessesário estudar e transformar esse código para que toda a lógica funcionasse (Back end).</p>
    <p>&rarr; Fazer uma combinação elegante das cores <span id="white">branca</span>, <span id="red">vermelha</span> e <span id="dark-side">preta</span> 
      para a parte visual (Front end) do nosso <span id="dark-side"> DARK SIDE </span>.</p>
  </div>
{% endblock %}